<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Superheroes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/3379e155de.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styles.min.css">
</head>
<body>
  <div class="wrapper" id="application">
   
    <h1>~ SuperHeroes ~</h1>
    <div class="wrap_input">
      <input type="text" placeholder="Votre recherche" v-model="input" @input="InputKeyPress">
      <button  v-on:click="returnData()">Search your superhero</button>
   </div>

    <div class="list" v-for="tabData in filterDatas">
      <a href=""><img :src="tabData.images.sm" alt=""></a>
      <div class="infos">
        <h2>{{tabData.name}}</h2>
        <span><strong>Full name :</strong> {{tabData.biography.fullName}}</span>
        <span>{{tabData.publisher}}</span>
      </div>  
    </div>

    <!-- modal -->
    <!-- <div class="modal"  v-for="(tabData, index) in filterDatas">
      <a href="#"><img :src="tabData.images.sm" alt=""></a>
      <div class="infos">
        <h2>{{ tabData.name }}</h2>
        <span><strong>Full name :</strong> {{ tabData.biography.fullName }}</span>
        <span>{{ tabData.publisher }}</span>
      </div>
    </div> -->


  </div>

  
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="js/main.js"></script>
</body>
</html>








